
<VirtualHost *:80>
    <Directory /ebs>
        AllowOverride All
        Require all granted
    </Directory>


    RequestHeader set X-Forwarded-Proto "https"
    ProxyPreserveHost On
    UseCanonicalName On
    ServerName {{ project_hostname[vm_location] }}

{% if config_shibboleth == true %}
    <Location />
        AuthType shibboleth
        shibrequiresession Off
        ShibUseHeaders on
        Require shibboleth
    </Location>

    <Location /auth>
        AuthType shibboleth
        shibrequiresession On
        Require valid-user
        ShibUseHeaders on
    </Location>
{% endif %}

    ProxyPass / http://localhost:{{ vireo_port }}/
    ProxyPassReverse / http://localhost:{{ vireo_port }}/
    ProxyRequests Off
    ProxyPass /robots.txt !
    RewriteEngine on
    RewriteCond %{HTTP:UPGRADE} ^WebSocket$ [NC]
    RewriteCond %{HTTP:CONNECTION} Upgrade$ [NC]
    RewriteRule .* ws://localhost:{{ vireo_port }}%{REQUEST_URI} [P]

#    ErrorLog    logs/ssl_error_log
#    TransferLog logs/ssl_access_log
    LogLevel info
#    SSLEngine on
#    SSLProtocol all -SSLv2
#    SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
#    SSLCertificateFile /etc/pki/tls/certs/wild__tdl_org_cert-3.cer
#    SSLCertificateKeyFile /etc/pki/tls/certs/wild_tdl_org_server.key
#    SSLCertificateChainFile /etc/pki/tls/certs/wild__tdl_org_interm-5.cer

#    CustomLog logs/ssl_request_log \
#              "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

</VirtualHost>

